/* site banner */
.underline-text {
  text-decoration: underline;
}
.siteBanner {
 
  display: flex;
  background: #e4f5f9;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  height: 56px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
.siteBanner> p{
  margin: 0;
}

@media screen and (max-width: 800px) {
  .siteBanner {
    height: 112px;
  
  }
}
